<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-image:url(/Images/VideogameBackground.jpg);">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <p class="h1 bg-dark p-3 text-light">LevelUp!</p>
            <form class="page-btns d-flex">
              
              {{#if loggedIn}}
              <a href="/profile">profile</a>
              <button class="no-button" id="logout">logout</button>
              {{else}}
              <button class="login-page login btn bg-dark text-light mr-3" type="submit">Login</button>
              <button class="signup-page btn bg-dark text-light" type="submit">Sign Up</button>
              {{/if}}
              
              
            </form>
          </div>
        </div>
      </nav>
    {{{body}}}
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
<script src="/js/login-page.js"></script>
<script src="/js/signup-page.js"></script>
</html>